<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Страница пользователя</title>
</head>
<body>
<h1 th:inline="text">Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</h1>
<br>
<h2>Список Ваших покупок</h2>
<table>
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Товары</th>
    </tr>
    <tr th:each="p : ${pur}">
        <td th:text="${p.id}">Id</td>
        <td th:text="${p.pdate}">Price</td>
        <td th:text="${p.items}">Items</td>
    </tr>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>